{{#if areNotesShowing}}
  <li class="question-box" {{action 'hideNotes'}}>
    <h2>{{question.question}}</h2>
    <p> Asked by {{question.author}}</p>
      <p class="notes">{{question.notes}}</p>
  </li>
{{else}}
  <li class="question-box" {{action 'showNotes'}}>
    <h2>{{question.question}}</h2>
    <p> Asked by {{question.author}}</p>
      <p class="showNotesNotifier">Click to show notes</p>
  </li>
{{/if}}
