{{question.question}} {{question.author}} {{question.notes}}
<br>
test

<ul>
  {{#each question.answers as |answer|}}
    <li>{{answer.author}} says: {{answer.answer}}</li>
  {{/each}}
</ul>

<button {{action 'delete' answer}}>Delete</button>
