{{#if updateQuestionForm}}
  <h4>Update {{question.author}}'s Question</h4>
    <div>
      <form>
        <div class="form-group">
          <label for="question">Question</label>
          {{input value=question.question id="question.question"}}
        </div>

        <div class="form-group">
          <label for="author">Author</label>
          {{input value=question.author id="question.author"}}
        </div>

        <div class="form-group">
          <label for="notes">Additional Notes</label>
          {{input value=question.notes id="question.notes"}}
        </div>

        <button {{action 'update' question}}>Save</button>
      </form>
    </div>
{{else}}
    <button {{action 'updateQuestionForm'}}>Update</button>
{{/if}}
