<h1>{{model.question}}</h1>
<p><i>Asked by {{model.author}}</i></p>
<p>{{model.notes}}</p>
<p>{{model.timeStamp}}</p>

<hr>
{{new-answer saveAnswer="saveAnswer" question=model}}

<ul class="answer-box">
  {{#each model.answers as |answer|}}
    <li>{{answer-tile answer=model}}{{timeFormat answer}}</li>
  {{/each}}
</ul>
