<h1>{{model.question}}</h1>

<p><i>Asked by {{model.author}}</i></p>

<p>{{model.notes}}</p>

<hr>

{{new-answer saveAnswer="saveAnswer" question=model}}

<ul class="answer-box">
  {{#each model.answers as |answer|}}
    <hr>
    <p><i>{{answer.author}} says</i></p>
    <p>{{answer.answer}}</p>
  {{/each}}
</ul>
