<h1>{{model.question.question}}</h1>

<p>Asked by {{model.question.author}}</p>

<p>{{model.question.notes}}</p>

<hr>

{{new-answer save="save" question=model}}

<br>

<ul class="answer-box">
  {{#each model.answer as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>
